* {
	margin: 0;
	padding: 0;
}


.float {
	width: 33.33%;
  float: left;
  background-color: #23ec23;

}

.float-1{
	width: 33.33%;
  float: left;
  background-color: #ec23b0;

}

.float-1a{
	width: 33.33%;
  float: left;
  background-color: #d8ec23;

}





